body{
	padding:10px;
	
	padding: 0 2em;
	font-family: Arial, sans-serif;
	background:url("../images/bg3.jpg");
	background-position:center;
	background-size:cover;
}

.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #000;
}
.responstable tr {
  border: 1px solid #000;
  background:#666;
}
.responstable tr:nth-child(odd) {
  --background-color: #EAF3F3;
}
.responstable th {
 
  border: 1px solid #000;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  
  text-align: center;
}
.responstable th:nth-child(2) {
  
}
.responstable th:nth-child(2) span {
 
}


.responstable td {
 
  word-wrap: break-word;
  height:150px;
  vertical-align:middle;
  text-align:center;
  width:33%;
  border:1px solid #ccc;
  border-radius:100px !important;
}


body {

}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  
}
h1 span {
  color: #167F92;
}
.fa-plus-square{
	font-size:30px !important;
}

.row-div .col-div{
	
	width:32.7%;
	display:inline-block;
	float:left;
	margin-right:10px;
	height:150px;
	border-radius:20px;
	text-align:center;
	padding-top:50px;
	background:rgba(50,50,50,0.8);
	margin-bottom:30px;
	color:#fff;
	
}
.row-div .col-div:last-child{
	margin-right:0px;
}
